{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block body%}
Hello {{ current_user.email }}, we on the home page

<h1> Database Results </h1>
{% for item in results %}
<h2> ID: {{ item.id }} Name: {{item.name }} Location: {{ item.location }} </h2>
{% endfor %}


{% if display %}
<h2> This is displayed if "display" is True </h2>
{% else %}
<h2> This is displayed if "display" is False </h2>
{% endif %}

{% for x in myList %}
<h3> {{ x }} </h3>
{% endfor %}


{% for x in listofdictionaries %}
<h4> {{ x.name }} </h4>
{% endfor %}


<img src=" {{url_for('static', filename='images/BioHazard.jpg') }}">


{% endblock %}